@import "./styles/colors.scss";

.createx {
    font-family: "Ubuntu", sans-serif;
}
.createx * {
    font-family: inherit;
}

.createx .container-cr {
    width: 1230px;
    margin: 0 auto;
}

button {
    border: none;
}

.createx .footer {
    background-color: none;
    padding: 0;
    margin: 0;
}

@import "./styles/media.scss";
