$primary: #ff5a30;
$white-color: #ffff;
$warning: #f89828;
$info: #5a87fc;
$success: #03cea4;
$grey-200: #f4f5f6;
$grey-300: #e5e8ed;
$grey-600: #9a9ca5;
$grey-700: #787a80;
$grey-800: #424551;
$grey-900: #1e212c;
