@import "..//..//styles/colors.scss";

.footer {
    margin-top: 300px;
    padding: 100px 0 20px 0;
    position: relative;
    background-color: $purple;
}

.footer-coloborationblock {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    height: 300px;
    background-color: $lightbl;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.coloborationblock-item {
    display: flex;
    background-color: inherit;
    flex: 33%;
    justify-content: center;
}

.coloboration-title {
    background-color: inherit;
    color: white;
    font-size: 36px;
    font-weight: 700px;
}

.coloboration-descr {
    background-color: inherit;
    color: white;
    font-size: 24px;
    font-weight: 700px;
}

.button-portfolio.coloboration-button {
    display: flex;
    width: 210px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #5be9b9;
    background-color: $lightbl;
}
.button-portfolio.coloboration-button:hover {
    background-color: #5be9b9;
    color: $lightbl;
}

.footer-wrap {
    margin-top: 180px;
}

.footer-logo {
    text-align: center;
}
.footer-link {
    svg {
        height: 40px;
        background-color: $purple;
    }
}
.footer-text {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.footer-social-block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-item {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: $purple;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        width: 25px;
        height: 25px;
        path {
            fill: white;
        }
    }
}

.social-item:hover {
    background-color: white;
    svg {
        path {
            fill: $purple;
        }
    }
}

.footer-copy {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
    svg {
        width: 12px;
        height: 12px;
    }
}
