@media (max-width: 767px) and (min-width: 541px) {
    .App {
        .testapp {
            .test_form {
                top: 9%;
                width: 450px;
            }
            .close {
                display: none;
            }
        }
    }
}

@media (max-width: 540px) and (min-width: 375px) {
    .App {
        .testapp {
            .test_form {
                top: 9%;
                width: 90%;
            }
            .close {
                display: none;
            }
        }
    }
}
